@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_slnt\wght.ttf);
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
  overflow-x: hidden;
}

#header {
  z-index: 1000;
}



a {
  text-decoration: none !important;
  color: black;
}

.menu-opt {
  position: relative;
}

.menu-opt::before {
  content: "";
  width: 4px;
  height: 22px;
  color: black;
  background-color: black;
  position: absolute;
  left: -20px;
}


.left-div,
.rightest-div {
  font-size: 0.9rem !important;
}




abbr:hover,
.username div:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

abbr {
  text-decoration: none !important;
  cursor: pointer !important;
}

.notif:hover {
  background-color: #2c9bff !important;
  transition: all 0.3s ease-in-out;
}

.list-group .list-group-item a:hover,
.list-group > .list-group-item:hover {
  background-color: #D9D9D9;
  color: #a5946a;
}

.list-group .list-group-item:hover > a {
  color: #a5946a;
}

.list-group .list-group-item.active {
  background-color: #d9d9d9;
}

.active a {
  color: #a5946a;
}



@media (max-width: 991.98px) {

  .hide-left-sidebar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: fit-content;
    padding: 20px;
    border-end-end-radius: 20px;
    transition: transform .4s;
    transform: translateX(-100%);
  }

  .show-left-sidebar{
    transition: transform .4s;
    transform: none;
    height: 100vh;
    overflow: scroll;

  }
  
}



@media (max-width: 767px) {



  .hide-left-sidebar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: fit-content;
    padding: 20px;
    border-end-end-radius: 20px;
    transform: translateX(-100%);
  }

  .show-left-sidebar{
    transform: none;
  }



 
}

.mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  display: flex;
  height: 60px;
  box-shadow: 0 -2px 5px -2px #333;
  background-color: #fff;
}

.mobile-bottom-nav__item {
  flex-grow: 1;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-bottom-nav__item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-bottom-nav__item-content i {
  font-size: 18px;
  margin-bottom: 2px;
}

.mobile-bottom-nav__item-content span {
  font-size: 12px;
}
.mobile-bottom-nav__item-content:hover{
  color: #a5946a;
}

@media (min-width: 576px) {
  .mobile-bottom-nav {
    display: none;
  }
}

/* Adjust the main content to not be hidden by the bottom nav on small screens */
@media (max-width: 575.98px) {
  body {
    padding-bottom: 60px;
  }
}


.hamburger {
  cursor: pointer;
  position: relative;
  z-index: 1002;
}






